// html 样式初始化
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

// 阿里巴巴图标 默认样式
.icon {
  width: 1em;
  height: 1em;
  //vertical-align: -0.2em;
  fill: currentColor;
  overflow: hidden;
}
//隐藏侧边栏时 修改默认样式
.hideSidebar {
  .el-submenu__icon-arrow {
    display: none !important;
  }

  .el-scrollbar .is-horizontal {
    display: none;
  }
}
// 滚动条样式
::-webkit-scrollbar {
  /*滚动条整体样式*/ /*高宽分别对应横竖滚动条的尺寸*/
  width: 5px;
  height: 6px;
  scrollbar-arrow-color:rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
  background-color: #A0CFFF;
  //background-color: rgba(144,147,153,.3);
  border-radius: 3px;
  transition: background-color .3s;
}
.el-table__body-wrapper::-webkit-scrollbar{
  width: 6px;
  height: 8px;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb{
  background-color:rgba(144,147,153,0);
  border-radius: 3px;
  transition: background-color 0.2s;
}
.el-table__body-wrapper:hover::-webkit-scrollbar-thumb{
  transition: background-color 0.2s;
  background-color:rgba(144,147,153,.3);
}