@import "./../../public/index";

@boxshadow: 8px 8px 15px rgba(0, 0, 0, 0.1),
  -8px -8px 15px rgba(255, 255, 255, 1);
@boxshadowHover: 0px 0px 0px rgba(0, 0, 0, 0.1),
0px 0px 0px rgba(255, 255, 255, 1),
inset 8px 8px 15px rgba(0, 0, 0, 0.1),
  inset -8px -8px 15px rgba(255, 255, 255, 1);
@areaMarginTop: 24px;

.home {
  padding: @app-main-padding;

  .dataBoard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .line-chart {
      flex: 1;
      border-radius: @areaBorderRadius;
      margin-right: 20px;
      position: relative;

      .chartTitle {
        position: absolute;
        left: 20px;
        top: 10px;
        z-index: 10;
        font-size: 14px;

        span {
          display: block;
          position: relative;
        }

        span:before {
          position: absolute;
          content: '';
          width: 5px;
          height: 20px;
          top: -1px;
          left: -8px;
          background-color: @themeColor;
        }
      }
    }

    .orderData {
      width: 30%;
      min-height: 300px;
      background-color: #FFFFFF;
      border-radius: @areaBorderRadius;

      .orderTitle {
        padding: 24px 30px 20px 30px;
        display: flex;
        align-items: center;

        .navItem {
          width: 50%;

          .navLine {
            cursor: pointer;
          }
        }
      }
      .orderContent{
        table{
          border: 0;
          width: 100%;
          border-collapse:collapse;
          th{
            font-size: 16px;
            font-weight: unset;
            color: @themeColor;
          }
          td{
            font-size: 14px;
            text-align: center;
            color: @article_color;
          }
          th:first-child{
            text-align: left;
            padding-left: 30px
          }
          td:first-child{
            text-align: left;
            padding-left: 30px
          }
        }
      }
    }
  }

  .chartArea {
    margin-top: @areaMarginTop;
    padding: 12px;
    border-radius: @areaBorderRadius;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    background-color: @app-main-background-color;
    box-shadow: @boxshadow;

    .pie-chart {
      width: 40%;
      background-color: #FFFFFF;
      border-radius: @areaBorderRadius;
    }

    .bar-chart {
      flex: 1;
      background-color: #FFFFFF;
      border-radius: @areaBorderRadius;
      margin-left: 15px;
    }
  }
}